apache-airflow==2.6.0
dask==2023.4.1
fastapi==0.95.1
gdown==4.7.1
joblib==1.2.0
matplotlib==3.7.0
numpy==1.24.3
pandas==2.0.1
pyarrow==12.0.0
pydantic==1.10.7
PyYAML==6.0
scikit-learn==1.2.2
tqdm==4.65.0
uvicorn==0.22.0